* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

body > a {
    width: 200px;
    padding: 10px 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: rgb(212, 212, 212);
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}

li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.3rem;
}

li > p:nth-of-type(2) {
    font-size: 0.9rem;
}

li > a {
    width: 80px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: rgb(212, 212, 212);
    text-align: center;
}