<html>
    <head>
        <title>New Message</title>
        <link rel="stylesheet" href="/newMessage.css">
    </head>
    <body>
        <h1><%= title %></h1>

        <form method="POST" action="/new">
            <div class="input-container">

                <label for="messageUser">User:</label>
                <input type="text" id="messageUser" name="messageUser" required>
            </div>
            
            <div class="input-container">

                <label for="messageText">Message:</label>
                <input type="text" id="messageText" name="messageText" required>
            </div>
        
            <button type="submit">Send message</button>

            <a href="/">Back to the messages</a>
        </form>
    </body>
</html>