<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <h1>Mini Message Board</h1>
        <button><a href="/new">Add a message!</a></button>
        <ul>
            <% messages.forEach(message => { %>
            <li>
                <p>
                    <strong><%= message.user %>:</strong>
                    <%= message.text %>
                </p>
                <p><%= new Date(message.added).toLocaleString("es-AR") %></p>
            </li>
            <% }); %>
        </ul>
    </body>
</html>